.title {
  background: url('../images/profile-pic-landscape.JPG') no-repeat center
    center/cover;
}

#proj-1 .background {
  background: url('../images/proj-1.png') no-repeat center center/cover;
}

#proj-2 .background {
  background: url('../images/proj-2.png') no-repeat center center/cover;
}

#proj-3 .background {
  background: url('../images/proj-3.png') no-repeat center center/cover;
}

#proj-4 .background {
  background: url('../images/proj-4.png') no-repeat center center/cover;
}

#proj-5 .background {
  background: url('../images/proj-5.png') no-repeat center center/cover;
}

li .active {
  color: white;
  /* border-bottom: 2px solid red; */
  padding: 1rem;
  border: 1px solid black;
  border-radius: 900px;
  background-color: black;
  white-space: nowrap;
}

section.active {
  border: 4px solid red;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.text-center {
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

/* margin and padding */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
